<% errors.forEach(function(message) { %>
    <div class="alert alert-danger text-center">
      <%= message %>
    </div>
  <% }) %>

  <% success.forEach(function(message) { %>
    <div class="alert alert-success text-center"> <!-- flash message for each success message -->
      <%= message %>
    </div>
  <% }) %>